body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}   
button {
    background-color: #f312e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #e41e98;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
